.wrap-container {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 15px 0px;
  transition: top 0.3s;
  .container {
    padding: 15px 20px;

    * {
      color: white;
    }
  }
}

.wrap-container.active {
    top: 0;
}

.wrap-container.non-top {
    * {
        color: black;
    }
    background-color: white;
    border-bottom: 1px solid #dce0e0;
    box-shadow: 1px 11px 16px -6px rgba(124,124,124,0.25);
    -webkit-box-shadow: 1px 11px 16px -6px rgba(124,124,124,0.25);
    -moz-box-shadow: 1px 11px 16px -6px rgba(124,124,124,0.25);
}