.banner {
    height: 60vh;
    background-image: url("/images/bridge-banner.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
}